{% extends "Mimembresia/base.html" %} 

{% load static %}

{% block titulo %} ABOUT {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'Mimembresia/styles/about.css' %}">

{% endblock %}


{% block main %}
<main>

   
    <img src="{% static 'Mimembresia/img/imagen3.jpg' %}" alt="">

        <div class="texto">
            <h1>¿Quiénes somos?</h1>

            <p class="texto1">
            MuseoPass es una plataforma en línea que ofrece una membresía exclusiva para amantes de los museos. Nuestro objetivo es brindar acceso privilegiado a una amplia gama de museos y galerías de arte, tanto a nivel nacional como internacional.
            En MuseroPass, creemos en el poder del arte y la cultura para enriquecer nuestras vidas. Nos esforzamos por crear una comunidad de entusiastas del arte que comparten esta pasión y desean explorar y disfrutar de las maravillas del mundo artístico.
            </p>

            <p class="texto2">
            Nuestra plataforma ofrece beneficios exclusivos a nuestros miembros, como acceso ilimitado a los museos participantes, descuentos en tiendas de museos y eventos especiales, invitaciones a eventos exclusivos y la oportunidad de conectarse con otros amantes del arte en nuestra comunidad en línea.
            En MuseroPass, valoramos la diversidad y la inclusión, y estamos comprometidos a brindar experiencias culturales enriquecedoras para todos. Nos esforzamos por fomentar el acceso equitativo al arte y hacer que la experiencia de visitar museos sea accesible y emocionante para todos nuestros miembros.
            Únete a MuseroPass y descubre un mundo de arte y cultura. ¡Explora, aprende y disfruta de los museos como nunca antes!
            </p>

        </div>



</main>
{% endblock %}




