{% extends "Mimembresia/base.html" %} 
{% load static %}



{% block titulo %} Museo Pass{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'Mimembresia/styles/index.css' %}">

{% endblock %}


{% block main %}
<main>

    <div class="home1">
        <img src="{% static 'Mimembresia/img/imagen1.jpg' %}" alt="img1">
    </div>

    <div class="home2">
        <div class="texto">
            <p>
                Únete a nuestra exclusiva membresía para amantes de los museos y disfruta de acceso ilimitado a una
                amplia gama de museos y galerías de arte a nivel nacional e internacional. Como miembro, disfrutarás
                de descuentos especiales en tiendas de museos, cafeterías y eventos especiales, participarás en
                eventos y actividades exclusivas, recibirás boletines informativos y te unirás a una comunidad
                apasionada por el arte y la cultura. ¡Regístrate hoy mismo y conviértete en un verdadero entusiasta
                del arte!
            </p>

            <a href="membresias.html">SUSCRIPCIÓN</a>
        </div>

        <img src="{% static 'Mimembresia/img/imagen2.jpg' %}" alt="img2">
        <img src="{% static 'Mimembresia/img/imagen3.jpg' %}" alt="img3">
        <img src="{% static 'Mimembresia/img/imagen4.jpg' %}" alt="img4">

    </div>

</main>
{% endblock %}




