{% extends "Mimembresia/base.html" %} 
{% load static %}


{% block titulo %} Registro {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'Mimembresia/styles/registro.css' %}">

{% endblock %}


{% block main %}

<section id="inicio">
   
    <div>
        <img class= "portada" src= "{% static 'Mimembresia/img/portada.jpg' %}" alt="portada">
    </div>
</section>

<section id="registro">
  <div class="container"> 

    <form class="col-md-12" method="POST" action="{% url 'registro' %}">

      {% csrf_token %}
 
      <div class="form-row">
     
 
        {{ registro_form }}
 
        <input type="submit">
  
      </div>
    </form>

  </div>

</section>

{% endblock %}