@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --text-color: #31241E;
    --button-color: #D1C8C1;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
}



header {
    position: fixed;
    top: 0;
    left: 0;    
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom-color: var(--text-color);
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    width: 85vw;
    margin: 0 7.5%;
}

header + nav + a{
    text-decoration: none;
    color: black;
}




.logo {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
    cursor: default;
    margin-left: 10rem;
}
footer{
    background-color: grey;
   

}

.imagen-foter{
    height: 2.1vw;
    width: 2.1vw;
    margin: 0;
    padding-top:3px;
    margin: 10px;
    
}

footer p{
    margin: 0;
    padding: 15px;
    color: white;
    font-family: 'Roboto',sans-serif ;
    font-size: 1.5em;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:120px;
    position: relative;
   

}








